{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}
{% block body %}
{% for message in app.flashes('add_product')%}
	<div class="alert alert-success" role="alert">
  {{message}}
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}

	<h1>Liste des contacts</h1>
		
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">id</th>
				<th scope="col">Nom</th>
				<th scope="col">Prénom</th>
				<th scope="col">Téléphone</th>
				<th scope="col">Action</th>

			</tr>
		</thead>
        {% for contact in contacts %}
		<tbody>
			
			<tr>
				<th scope="row">{{contact.id}}</th>
				<td>{{contact.nom}}</td>
				<td>{{contact.prenom}}</td>
				<td>{{contact.Number}}</td>
				<td><a href="{{path('contact')}}" type="button" class="btn btn-info">Afficher</a></td>
			</tr>
			
		</tbody>
        {% endfor %}
	</table>
    
{% endblock %}
