{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}
{% block body %}

	<h1>Liste des contacts</h1>
		
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">id</th>
				<th scope="col">Nom</th>
				<th scope="col">Prénom</th>
				<th scope="col">Téléphone</th>
				<th scope="col">Adresse</th>
				<th scope="col">Ville</th>
				<th scope="col">Age</th>
				<th >Action</th>

			</tr>
		</thead>
        {% for contact in contacts %}
		<tbody>
			
			<tr>
				<th scope="row">{{contact.id}}</th>
				<td>{{contact.nom}}</td>
				<td>{{contact.prenom}}</td>
				<td>{{contact.telephone}}</td>
				<td>{{contact.adresse}}</td>
				<td>{{contact.ville}}</td>
				<td>{{contact.age}}</td>
				<td><a href="{{path('findContact', {id:contact.id})}}" type="button" class="btn btn-info">Afficher</a>
				<a href="{{path('updateTelephoneContact', {id:contact.id})}}" type="button" class="btn btn-warning">Modifier</a>
				<a href="{{path('deleteContact', {id:contact.id})}}" type="button" class="btn btn-danger">Supprimer</a></td>
			</tr>
			
		</tbody>
        {% endfor %}
	</table>
    
{% endblock %}
